<div id="menu-style-<%= section %>" class="menu">
	<%= render 'core/html_menus/styles/attributes/font', section: section %>
	<%= render 'core/html_menus/styles/attributes/textshadow', section: section %>
	<%= render 'core/html_menus/styles/attributes/background_color', section: section %>
	<%= render 'core/html_menus/styles/attributes/border', section: section %>
	<%= render 'core/html_menus/styles/attributes/boxshadow', section: section %>	
</div>
