<div>
	<div id="border-menu-primary-<%= section %>" data-section="<%= section %>" class="primary">Border</div>
	<div id="border-menu-secondary-<%= section %>" class="secondary hidden">
		<div id="option-border-position-<%= section %>">Posición</div>
		<div id="option-border-style-<%= section %>">Estilo</div>
		<div id="option-border-width-<%= section %>">Grosor</div>
		<div id="option-border-radius-<%= section %>">Radio</div>
		<div>
			<input id="<%= section %>-border-colorpicker-input" class="my-colorpicker" value="Color" data-color-format="rgb">
		</div>
	</div>
</div>
