<div>
	<div id="font-menu-primary-<%= section %>" data-section="<%= section %>" class="primary">Font</div>
	<div id="font-menu-secondary-<%= section %>" class="secondary hidden">
		<div id="option-font-size-<%= section %>">Tamaño</div>
		<div id="option-font-style-<%= section %>">Estilo</div>
		<div id="option-font-family-<%= section %>">Tipo</div>
		<div>
			<input id="<%= section %>-font-colorpicker-input" class="my-colorpicker" value="Color" data-color-format="rgb">
		</div>
	</div>
</div>
