<div>
	<div id="textshadow-menu-primary-<%= section %>" data-section="<%= section %>" class="primary">Text Shadow</div>
	<div id="textshadow-menu-secondary-<%= section %>" class="secondary hidden">
		<div class="clearfix">
			<p class="pull-left">Vertical</p>
			<p class="pull-right pixel-input-box"><input id="input-textshadow-1-<%= section %>" data-option="vertical" class="pixel-input" value="0">px</p>
		</div>
		<div class="clearfix">
			<p class="pull-left" >Horizontal</p>
			<p class="pull-right pixel-input-box"><input id="input-textshadow-2-<%= section %>" data-option="horizontal" class="pixel-input" value="0">px</p>
		</div>
		<div class="clearfix">
			<p class="pull-left">Difuminación</p>
			<p class="pull-right pixel-input-box"><input id="input-textshadow-3-<%= section %>" data-option="blur" class="pixel-input" value="0">px</p>
		</div>
		<div>
			<input id="<%= section %>-textshadow-colorpicker-input" class="my-colorpicker" value="Color" data-color-format="rgb">
		</div>
	</div>
</div>
